
@media (min-width: 920px) {
body{
    background-image: url(../pics/bw.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
}

@media (max-width: 920px) {
body{
    background-color: gray;
    background-image: url(../pics/circle.png);
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: center; 

}
}

.links{
    padding-bottom: 150px;
    text-align: center;
}

@media (min-width: 920px) {
.links{
    padding-top: 50px;
}
}

.linkText{
    color: black;
    word-spacing:  0.2em;
    text-decoration: none;
}

@media (max-width: 920px) {
.linkText{
    font-size: 20px;
}
}

@media (min-width: 920px) {
.headings{
    display: block;
    position: absolute;
    top: 60%;
    left: 50%;
    margin-left: -168px;
    margin-top: -240px;
    padding-top: 70px;
    background-image: url(../pics/circle.png);
    background-size: 100%;
    background-repeat: no-repeat;
}
}

@media (max-width: 920px) {
.headings{
    display: block;
    position: absolute;
    top: 60%;
    left: 40%;
    margin-left: -190px;
    margin-top: -240px;
    padding-top: 70px;
}
}


html {
    height: 100%
}
 

.mainimg{
    max-width: 100%;
    height: auto;
}

.name{
    position: relative;
    z-index: 2;
    color: white;
    line-height: 1;
    letter-spacing: 0.2em;
    font-weight: 300;
    font-style: italic;
    font-family: 'Arapey', serif;
    text-align: center;
    margin-bottom: 0;
    margin-top: 28px;
    padding-left:30px;
    padding-right:30px;
}

@media (min-width: 920px) {
.name{
    font-size: 34px;
}
}

@media (max-width: 920px) {
.name{
    font-size: 50px;
}
}

.part1{
    background-color: gray;
}

.part2{
    background-color: gray;
}

.sub{
    color: white;
    position: relative;
    z-index: 2;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    letter-spacing: 0.2em;
    font-weight: 300;
}

@media (min-width: 920px) {
.name{
    font-size: 34px;
}
}

@media (max-width: 920px) {
.name{
    font-size: 50px;
}
}
